# Participation Profile Analysis on ADaM Vital Signs (ADVS)

This notebook demonstrates the usage of `pyParticipation.participation` functions on a real CDISC ADaM dataset (`ADVS.xpt`).

In [15]:
import pandas as pd
import pyreadstat
import sys
sys.path.append("/Users/kryptonempyrean/Desktop/pyParticipation")
from pyParticipation.participation import *

In [16]:
# Load CDISC ADaM dataset
df_advs, meta = pyreadstat.read_xport("/Users/kryptonempyrean/Desktop/pyParticipation/data/advs.xpt")

In [17]:
df_advs

,STUDYID,SITEID,USUBJID,AGE,AGEGR1,AGEGR1N,RACE,RACEN,SEX,SAFFL,...,ANRLO,ANRHI,BNRIND,ANRIND,SHIFT1,CRIT1,CRIT1FL,CRIT2,CRIT2FL,CHGCAT1
0,CDISCPILOT01,701,01-701-1015,63.0,<65,1.0,WHITE,1.0,F,Y,...,60.0,90.0,Low,Normal,,,,,,
1,CDISCPILOT01,701,01-701-1015,63.0,<65,1.0,WHITE,1.0,F,Y,...,60.0,90.0,Low,Normal,,,,,,
2,CDISCPILOT01,701,01-701-1015,63.0,<65,1.0,WHITE,1.0,F,Y,...,60.0,90.0,Low,Low,,,,,,
3,CDISCPILOT01,701,01-701-1015,63.0,<65,1.0,WHITE,1.0,F,Y,...,60.0,90.0,Low,Normal,Low/Normal,Treatment Emergent High Value,N,Treatment Emergent Low Value,N,Increased
4,CDISCPILOT01,701,01-701-1015,63.0,<65,1.0,WHITE,1.0,F,Y,...,60.0,90.0,Low,Low,Low/Low,Treatment Emergent High Value,N,Treatment Emergent Low Value,N,Same
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32134,CDISCPILOT01,718,01-718-1427,74.0,65-80,2.0,BLACK OR AFRICAN AMERICAN,2.0,F,Y,...,NaN,NaN,,,,,,,,
32135,CDISCPILOT01,718,01-718-1427,74.0,65-80,2.0,BLACK OR AFRICAN AMERICAN,2.0,F,Y,...,NaN,NaN,,,,,,,,
32136,CDISCPILOT01,718,01-718-1427,74.0,65-80,2.0,BLACK OR AFRICAN AMERICAN,2.0,F,Y,...,NaN,NaN,,,,,,,,
32137,CDISCPILOT01,718,01-718-1427,74.0,65-80,2.0,BLACK OR AFRICAN AMERICAN,2.0,F,Y,...,NaN,NaN,,,,,,,,
32138,CDISCPILOT01,718,01-718-1427,74.0,65-80,2.0,BLACK OR AFRICAN AMERICAN,2.0,F,Y,...,NaN,NaN,,,,,,,,

In [18]:
# Inspect structure
df_advs[['USUBJID', 'AVISITN', 'AVAL']].head(10)

       USUBJID  AVISITN  AVAL
0  01-701-1015      NaN  64.0
1  01-701-1015      NaN  68.0
2  01-701-1015      0.0  56.0
3  01-701-1015      NaN  67.0
4  01-701-1015      2.0  56.0
5  01-701-1015      4.0  64.0
6  01-701-1015      NaN  72.0
7  01-701-1015      6.0  55.0
8  01-701-1015      8.0  67.0
9  01-701-1015     12.0  68.0

In [19]:
# number_participants function
number_participants = count_participants(df_advs, id_col='USUBJID')
print(f"The total number of patients in the study is {number_participants}.")

The total number of patients in the study is 254.

In [20]:
# count_measurements function
number_measurements = count_measurements(df_advs, measurement_col='AVAL')
print(f"The total number of measurements, net of missing values, is {number_measurements}.")

The total number of measurements, net of missing values, is 32129.

In [21]:
# measurements_per_participant function
measurements_per_participant(df_advs, id_col='USUBJID', measurement_col='AVAL')

         USUBJID  measurement_count
0    01-701-1015                163
1    01-701-1023                 86
2    01-701-1028                163
3    01-701-1033                 86
4    01-701-1034                153
..           ...                ...
249  01-718-1254                163
250  01-718-1328                119
251  01-718-1355                163
252  01-718-1371                112
253  01-718-1427                118

[254 rows x 2 columns]

In [22]:
# participant_measurement_summary function
participant_measurement_summary(df_advs, id_col='USUBJID', measurement_col='AVAL')

count    254.000000
mean     126.492126
std       39.018668
min       33.000000
25%      104.750000
50%      140.000000
75%      163.000000
max      163.000000
Name: measurement_count, dtype: float64

In [23]:
# measurements_per_wave function
measurements_per_wave(df_advs, time_col='AVISITN', measurement_col='AVAL')

0.0                    2783
2.0                    2733
4.0                    2495
6.0                    2294
8.0                    2077
12.0                   1881
16.0                   1616
20.0                   1407
24.0                   1272
26.0                   1220
99.0                   2494
UNSCHEDULED/UNKNOWN    9857
dtype: int64